
.container{
    width: 100%;
    height: 600px;
    position: relative;
    background-color: black;
    margin: 0 auto;
}
.container .carousel{
    width: 1700px;
    height: 100%;
    position: relative;
    margin: 0 auto;
}
.container .carousel li{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0px auto;
    transition: all 2.0s, z-index 1s;
}
.container .carousel li.left{
    transform: translateX(50%) scale(0.0);
    transition: 1.0s;
}
.container .carousel li.center{
    z-index: 99;
}
.container .carousel li.right{
    transform: translateX(-50%) scale(0.0);
    transition: 1.5s;
}
.container .carousel li.unset{
    transform: translateX(0%) scale(0.0);
    visibility: hidden;
}